body {
    background-color: #FFFF99;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: #fff;
    border: 2px solid black;
    overflow: hidden;
    width: 500px;
    max-width: 80%;
    margin: 20px 400px;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    margin: 0 620px; 
    width: 250px;
}

form {                                         
    margin: 0 auto; 
    width: 200px; 
    padding: 30px 40px; 
}

button{
    background-color: #FFFFFF;
    border: 2px solid black;
    color: black;
    font-size: 14px;
    padding: 5px;
    margin: 10px;
    width: 30%;
}

div{
    margin: 5px 300px;
}

.button {
    background-color: #FFFF99;
    border: 2px solid black;
    color: black;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 30%;
}
